.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  padding-left: 0;
  color: white;
  margin-bottom: 20px;
  background-image: url(train-banner.jpg);
  background-position: right;
}


.App-title {
  font-size: 2.2em;
  margin-top: 50px;
  font-family: SourceSansPro-Regular;
}

.App-intro {
  font-size: large;
}
