body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-primary {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  background-color: white;
  border: 2px solid #5a5a5a;
  color: #5a5a5a;
  margin-bottom: 10px;
  font-size: 0.7em;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #fafafa;
}

a{
  cursor: pointer;
}

hr{
  border: 0;
  height: 1px;
  margin: 15px 0;
  background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
}

.info-box {
  padding: 10px;
  background-color: #fff8c6;
  font-size: 0.7em;
  margin-bottom: 10px;
}

.margin-bottom{
  margin-bottom: 10px;
}


.stylish-link{
  color: black;
  font-weight: bold;
}

.stylish-link:hover{
  color: #88AACE;
}

.fa{
  font-size: 2em;
}
