/*
.subtitle {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  margin: 0.5em 0;
}*/
/*
.heading-group {
  margin: 0 0 3em 0;
}*/
/*
.block-content {
  min-height: 100vh;
}*/

/*
h1, h2, h3 {
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
}

p {
  font-family: "Merriweather", sans-serif;
  line-height: 1.5;
}*/
/*
.l-block-spacing {
  min-height: 80vh;
  padding: 2em 0 4em 0;
}*/

.timeline-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.2em;
  padding-right: 1em;
  height: 490px;
  overflow-y: scroll;
  padding-top: 5px;
}


.timeline-list {
  padding-bottom: 0em;
  position: relative;
}

.timeline-list ul {
}

.timeline-list li {
  margin: 0 0 -1.5em -1.4em;
  padding: 0 1em 3em 0px;
  position: relative;
  list-style-type: none;
}

.timeline-line {
  content: "";
  border-left: 3px solid #CCC;
  left: -1.25em;
  height: 95%;
  position: absolute;
  bottom: 0;
  top: 0em;
  transform-origin: 0 0;
}

.timeline-circle {
  content: "";
  position: absolute;
  top: -0.2em;
  left: -1.95em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: none repeat scroll 0% 0% #7a7a7a;
  border: 2px solid #fff;
}
