@import "variables.scss";

.icon-section{
  padding-right: 10px;
  margin-bottom: 2px;
  color: $icon-section-color;
}

.section-container{
  background-color: white;
}

.section-header{
  padding: 10px;
  color: #fdfdfd;
  background-image: url(../images/black-pattern.png);
}

.section-body{
  border-left: 1px solid $section-border-color;
  border-bottom: 1px solid $section-border-color;
  border-right: 1px solid $section-border-color;
  padding: 10px;
}
